<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<title>{% block page_title -%}Michael Gillette -{%- endblock page_title %}</title>
		
		<link rel="stylesheet" href="/static/master.css">
		{% block style -%}{%- endblock style %}
	</head>
	<body>
		
		<div id="container">
			<header id="header" class="clearfix">
				{% block header -%}{%- endblock header %}
			</header>
			<div id="main" role="main" class="clearfix">
				{% block content -%}{%- endblock content %}
			</div>
			<footer id="footer" class="clearfix">
				{% block footer -%}{%- endblock footer %}
			</footer>
		</div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
		{% block script -%}{%- endblock script %}
	</body>
</html>
