{% extends "coverletter/index.html" %}

{% block thewhy -%}
	<article>
		<h2>Why am I good choice for you?</h2>
		<p>
			I developed on e-commerce websites before. I worked on the <a href="http://beta.elefy.com/" target="blank">Elefy</a> team at Auctiva, a B2C e-commerce application serving data from thousands of Auctiva Commerce stores. I have good experience with Python web development. I have developed on Django, Google Appengine, and a home rolled MVC framework (specific to appengine). I love to build applications and modules to existing applications, and I love an environment where I can work with like minded people. Its this reason I am excited to apply for your site. I believe in the mission of your product, to move people from the couches to the streets. One of the reasons I enjoyed my previous home in Chico, is the communal enjoyment of the outdoors and how there was always so much more to do outside than in.
		</p>
	</article>
{%- endblock thewhy %}
