{% extends "shared/_master.html" %}

{% block content %}
    
    <div id="inspirational-people" class="clearfix">
        <article>
            <h2>37signals</h2>
            <p>
                The core guys here <a href="http://www.37signals.com/" target="_blank">Jason Fried and David Heinemeier Hansson</a> have fine tuned the spirit of entrepreneurship. Their books and other scribblings have armed me with the appropriate questions to approach any project.
            </p>
        </article>
        <article>
            <h2>Steve Krug</h2>
            <p>
                His book, <strong>Don't Make Me Think</strong>, influence how I develop interactive controls. He opened my eyes to the user's perspective, calling out to the super users (developers) to make browsing simple.
            </p>
        </article>
        <article>
            <h2>Steve Jobs</h2>
            <p>
                He inspired me by his dedication to move an idea from his head to implemenation de facto. He wanted to make a dent in the universe, so he made sure that he did. I ask myself how will I make mine each time I build.
            </p>
        </article>
        <article>
            <h2>Jeff Atwood</h2>
            <p>
                Many know him as the founder of <a href="http://www.stackoverflow.com/" target="_blank">StackOverflow</a>. Its a fantastic study in improving a medium (forums). Its his <a href="http://www.codinghorror.com/" target="_blank">blog</a> articles which have inspired me to focus on whats important in my project. Doing so has improved my documentation skills markedly.
            </p>
        </article>
        <article>
            <h2>Ryan Singer</h2>
            <p>
                
            </p>
        </article>
        <article>
            <h2>37signals</h2>
            <p>
            
            </p>
        </article>
    </div>
    
{% endblock content %}
